<h1>Login Page</h1>
<form action="/api/session/login" method="POST" style="padding: 40px">
  <div>
    <label for="email">Email:</label>
    <input name="email" type="text">
  </div>
  <div>
    <label for="password">Password:</label>
    <input name="password" type="text">
  </div>
  <button type="submit">Log In</button>
  <a href="/register">Registrate</a>
</form>