<div class="container mt-5">
    <h1 class="text-center">Register Page</h1>
    <form style="max-width: 400px; margin: auto; padding: 40px">
      <div class="form-group">
        <label for="email">Email:</label>
        <input name="email" type="text" class="form-control" id="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input name="password" type="text" class="form-control" id="password" required>
      </div>
      <div class="form-group">
        <label for="first-name">First Name:</label>
        <input name="first-name" type="text" class="form-control" id="first_name" required>
      </div>
      <div class="form-group">
        <label for="last-name">Last Name:</label>
        <input name="last-name" type="text" class="form-control" id="last_name" required>
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <input name="age" type="number" class="form-control" id="age" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block mt-3">Register</button>
    </form>
  </div>

  <script>
    const form = document.querySelector("form");
    form.addEventListener("submit", e => {
      e.preventDefault();
      const formData = {
        email: document.getElementById("email").value,
        password: document.getElementById("password").value,
        first_name: document.getElementById("first_name").value,
        last_name: document.getElementById("last_name").value,
        age: document.getElementById("age").value
      };
      formData.role = formData.email == "adminCoder@coder.com" ? "admin" : "user";
      fetch("/api/session/register", { method: "POST", body: JSON.stringify(formData), headers: { "Content-Type": "application/json" } })
        .then((json) => json.json())
        .then((res) => window.location.replace("/" + res.url));
    });
  </script>